body {
  background-color: gray;
}
h1{
  color: Blue;
  font-weight: bold;
  font-family: Helvetica;
  text-align: center;
}
h2 {
  text-align: center;
  font-family: Helvetica;
  text-decoration: underline;
}
#table-tags-intro {
  color: Blue;
  text-align: center;
}
table {
  margin: auto;
  width: 650px;
  display: grid;
  border: 5px;
  border-style: groove;
  border-radius: 5px;
  border-collapse: separate;
  border-color: Blue;
}
thead {
  color: Blue;
  text-align: center;
  font-family: Helvetica;
}
.column_1 {
  width: 100px;
}
.column_2 {
  width: 100px;
}
.column_3 {
  width: 450px;
}
td {
  text-align: center;
}
